body {
    background-color: #fcfcfc; 
    font-family: sans-serif;   
    color: #333;
    line-height: 1.6;
}

.container{
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    flex-direction: row;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: #aabb94;
    border-right: 1px solid #edf2f7;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 100;
}

.header-container {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main{
    display: flex;
    flex-direction: column;
    flex: 3;
}

@media (max-width: 768px){
    .center {
        flex-direction: column;
    }
}

nav {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
}